draw.cpp
test.cpp
.vscode/settings.json
.vscode/c_cpp_properties.json
build/Debug/.ninja_deps
build/Debug/.ninja_log
build/Debug/build.ninja
build/Debug/cmake_install.cmake
build/Debug/CMakeCache.txt
build/Debug/compile_commands.json
build/Debug/freeglutd.dll
build/Debug/jpeg62.dll
build/Debug/liblzma.dll
build/Debug/libpng16d.dll
build/Debug/libsharpyuv.dll
build/Debug/libwebp.dll
build/Debug/libwebpdecoder.dll
build/Debug/main.exe
build/Debug/main.ilk
build/Debug/main.pdb
build/Debug/opencv_core4d.dll
build/Debug/opencv_imgcodecs4d.dll
build/Debug/opencv_imgproc4d.dll
build/Debug/tiffd.dll
build/Debug/zlibd1.dll
build/Debug/.cmake/api/v1/query/client-vscode/query.json
build/Debug/.cmake/api/v1/reply/cache-v2-badfe52fb42f2b67b955.json
build/Debug/.cmake/api/v1/reply/cmakeFiles-v1-1fc9f20b798093649543.json
build/Debug/.cmake/api/v1/reply/codemodel-v2-8e4026cee80c842d1c38.json
build/Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/Debug/.cmake/api/v1/reply/index-2023-10-17T08-51-03-0779.json
build/Debug/.cmake/api/v1/reply/target-main-Debug-d7629584bd36c6bd850a.json
build/Debug/.cmake/api/v1/reply/toolchains-v1-524dfecc1fe91533e138.json
build/Debug/CMakeFiles/cmake.check_cache
build/Debug/CMakeFiles/CMakeConfigureLog.yaml
build/Debug/CMakeFiles/rules.ninja
build/Debug/CMakeFiles/TargetDirectories.txt
build/Debug/CMakeFiles/3.27.6/CMakeCCompiler.cmake
build/Debug/CMakeFiles/3.27.6/CMakeCXXCompiler.cmake
build/Debug/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_C.bin
build/Debug/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_CXX.bin
build/Debug/CMakeFiles/3.27.6/CMakeRCCompiler.cmake
build/Debug/CMakeFiles/3.27.6/CMakeSystem.cmake
build/Debug/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.c
build/Debug/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.exe
build/Debug/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.obj
build/Debug/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/Debug/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.exe
build/Debug/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.obj
build/Debug/CMakeFiles/main.dir/embed.manifest
build/Debug/CMakeFiles/main.dir/intermediate.manifest
build/Debug/CMakeFiles/main.dir/main.cpp.obj
build/Debug/CMakeFiles/main.dir/manifest.rc
build/Debug/CMakeFiles/main.dir/manifest.res
build/Debug/CMakeFiles/main.dir/vc140.pdb
build/Debug/CMakeFiles/ShowIncludes/foo.h
build/Debug/CMakeFiles/ShowIncludes/main.c
build/Debug/CMakeFiles/ShowIncludes/main.obj
